<div class="row">
  <div class="jumbotron col-md-4 col-md-offset-4" style="text-align: center">
    <h1 style="font-weight: 200">IDEA BOX</h1>
    <p class="text-muted">built with golang</p>
    <a href="/ideas">VIEW All IDEAS</a>
  </div>
</div>